/* popup
----------------------------------------------------------------------*/

p.popup { font-size: 15px; margin: 0px; text-align: center;}

#blanket {
	background-color: #666;
	opacity: 0.65;
	filter: alpha(opacity=45);
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
}

#popUpDiv {
	position: absolute;
	background-color: #fff;
	width: 500px;
	height: 135px;
	z-index: 9002;
}